
.container{
    border-left: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
}
@font-face{
    font-family: 'Lora',Serif;
    src: url(../fonts/Lora/Lora-Bold.ttf);
    src: url(../fonts/Lora/Lora-BoldItalic.ttf);
    src: url(../fonts/Lora/Lora-Italic.ttf);
    src: url(../fonts/Lora/Lora-Regular.ttf);
}
@font-face{
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

body{
    font-family:Roboto,Helvetica,Arial,sans-serif;
}
a{
    color: #000;
}
a:hover{
    color: #000;
    text-decoration: none;
}
ul{
  padding: 0;
}
li{
  list-style: none;
}
.mainAds-mobile{
    display: none;
}
.c-close{
  display: none;
}
.ads-mobile{
    width: 100%;
    height: 225px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.menu-social{
    border-bottom: 1px solid #575757;
    padding-bottom: 5px;
    vertical-align: middle;
    padding-top:5px;
    white-space: nowrap;
}
.facebook:hover{
    color:#3b5998;
}
.twitter:hover{
    color:#55acee;
}
.googleplus:hover{
    color:#dc4e41;
}
.instagram:hover{
    color:#3f729b;
}
.close-bar{
  padding: 4px 8px 6px 8px;
  font-size: 15px;
  margin: 0;
  color: #fff;
  background-color: #323b43;
}
.close-bar:hover{
  color: #fff;
  background-color: #59626a;
  cursor: pointer;
}
.social-btn{
    font-size: 22px;
    margin-right: 5px;
    margin-bottom: -10px;
    color: #000;
    line-height:25px;
    vertical-align: middle;
}
.input-search-nav{
  margin-left: 10px;
  margin-right: -22px;
  border: none;
  background-color: #f3f3f3;
  height: 30px;
  padding-left: 10px;
  padding-right: 25px;
}
.input-search-nav:focus{
  outline: none;
}
.in-search{
  padding-top: 10px;
  font-size: 18px;
  color: #fff;
}
.searching-bar{
  display: none;}
.show{
  display: inline-block !important;
}
.hide{
  display: none !important;
}
.logo-center .logo{
    margin-bottom: 15px;
}
.logo-center h4{
    font-size: 14px;
    font-weight: 400;
    margin-top: 0px;
    vertical-align: text-bottom;
}
.logo-center h3{
    margin-bottom: -5px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #146eb4;
}
.btn-qs{
    position: absolute;
    border:0px;
    text-decoration: none;
    color: #fff;
    background-color: #242424;
    border-radius: 2px;
    padding: 8px 20px 8px 20px;
    font-size: 12px;
    margin-top: 1px;
}
.btn-qs:hover{
    color: #fff;
    text-decoration: none;
}
.btn-qs:focus{
    outline: none;
}
.suscribete{
    border:0px;
    text-decoration: none;
    color: #fff;
    background-color: #242424;
    border-radius: 2px;
    padding: 8px 20px 8px 20px;
    font-size: 12px;
}
.suscribete:hover{
    color: #fff;
    text-decoration: none;
}
.suscribete:focus{
    outline: none;
}
.right{
    float: right;
}
.search{
    background: none;
    border: none;
    vertical-align: middle;
    font-size: 24px;
    color: #000;
    padding-left: 10px;
}
.search:hover{
  cursor: pointer;
}
.search:focus{
    outline: none;
}
.sub{
  font-size: 40px !important;
}
.opinion-logo-title{
    font-size: 45px;
    font-family: 'Lora', serif;
    text-align: center;
    color: #000;
}
.politica-logo-title{
    font-size: 45px;
    font-family: 'Lora', serif;
    text-align: center;
    color: #000;
}
.mundo-logo-title{
    font-size: 45px;
    font-family: 'Lora', serif;
    text-align: center;
    color: #000;
}
.sociedad-logo-title{
    font-size: 45px;
    font-family: 'Lora', serif;
    text-align: center;
    color: #000;
}
.economia-logo-title{
    font-size: 45px;
    font-family: 'Lora', serif;
    text-align: center;
    color: #000;
}
.opinion-logo-title:hover, .politica-logo-title:hover, .mundo-logo-title:hover, .sociedad-logo-title:hover, .economia-logo-title:hover{
    color: #000;
    text-decoration: none;
}
.opinion-logo-title:focus, .politica-logo-title:focus, .mundo-logo-title:focus, .sociedad-logo-title:focus, .economia-logo-title:focus{
    color: #000;
    text-decoration: none;
}
.logo-center{
    text-align: center;
    margin-top:25px;
    margin-bottom: 6px;
}
.logo-center img{
    max-width: 400px;
}
.top-line{
    margin-top: 15px;
    border-top: 1px solid #575757;
}
.navbar-default{
    display: none;
    background: none;
    border: 0px;
    border-radius: 0px;
}
.menu{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #F9F9F9;
}
.menu a{
    color: #444;
    font-size: 12px;
    font-weight: 500;
    padding-left: 12px;
    padding-right: 12px;
    text-transform: uppercase;
    padding-bottom: 0px;
}
.menu a:hover{
    text-decoration: none;
    color: #000;
}
.menu a:focus{
    text-decoration: none;
}
.cptv-menu{
    background-color: #59626a;
    margin-left: -16px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
}
.cptv-menu:hover{
  background-color: #323b43;
}
.cptv-menu a{
    color: #fff;
    letter-spacing: 0.5px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 22px;
}
.cptv-menu .padd{
  margin-top: -5px;
  position: absolute;
}
.cptv-menu i{
  font-size: 20px;
}
.titulo-up{
    margin-top: 5px;
    font-size: 16px;
    color: #000;
    border-bottom:2px solid #222;
    padding-bottom: 5px;
}
.articulo{
    margin-top: 10px;
    border: 1px solid #D8D8D8;
    padding:5px 5px 0px 5px;
}
.articulo-main{
    margin-top: 10px;
    border: 1px solid #D8D8D8;
    padding:5px 5px 0px 5px;
}
.articulo a{
    color: #000;
}
.articulo a:hover{
    color: #555;
    text-decoration: none;
    cursor: pointer;
}
.articulo a:focus{
    color: #222;
    text-decoration: none;
}
.articulo .foto-autor-main{
    padding-top: 10px;
    margin-bottom: 4px;
    font-size: 12px;
}
.articulo .foto-autor{
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #a1a1a1;
}
.articulo .img-articulo{
    min-width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
}
.articulo .img-articulo:hover{
  opacity: 0.8;
}
.ads-border{
  border: 2px solid #505050;
}
#ads3{
  border: 2px solid #505050;
}
#ads4{
  border: 2px solid #505050;
}
.ads{
    text-align: center;
    margin-top: 10px;
    min-width: 100%;
    background-size: cover;
    background-position:center;
}
.ads span:before{
  content: "PUBLICIDAD";
  color:#606060;
  font-size:9px;
  font-weight: bold;
  letter-spacing: 1px;
}
.articulo h1{
    margin-top: 5px;
    margin-bottom: -5px;
    font-family: Georgia, serif;
    font-size: 30px;
}
.articulo h4{
    margin-top:15px;
    font-family:Roboto, Arial,sans-serif;
    font-size: 12px;
    color: #454545;
}
.articulo .h3{
  padding: 4px 4px;
  background-color: #4285f4;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 9px;
}
.articulo .t2{
  margin-top: 5px;
}
.articulo p{
    font-size: 14px;
    margin-top: -5px;
    font-family: Georgia, serif;
}
.cultura .articulo h4{
    color: #f9f9f9;
}
.cultura .articulo p{
    color: #fff;
    letter-spacing: 0.5px;
}
.dot-line{
    width: 100%;
    border-bottom: 1px dotted #454545;
}
.red-flag{
    width: 15px;
    margin-top: 5px;
    margin-left: 10px;
}
.recomendacion h1{
    font-family: Georgia, serif;
    font-size: 20px;
    line-height: 25px;
    margin-top: 10px;
    color: #222;
}
.recomendacion h4{
    margin-top:10px;
    font-family:Roboto, Arial,sans-serif;
    font-size: 14px;
    color: #454545;
}
.recomendacion p{
    font-size: 16px;
    margin-top: -5px;
    margin-bottom: 0px;
    font-family: Georgia, serif;
}
.editorial-articulo{
    border: 1px solid #D8D8D8;
    padding: 5px;
    margin-top: 10px;
}
.editorial-articulo h3{
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    text-align: left;
    font-family: 'Lora', serif;
    font-style: italic;
}
.editorial-articulo p{
    font-size: 14px;
    margin-bottom: 0px;
    text-align: left;
    font-family: Georgia, serif;
}
.el-clima{
    margin-top: 10px;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
}
.el-clima h4{
    text-align: center;
    font-size:16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-top: 2px solid #222;
    padding: 5px 0px;
    color: #222;
    margin-top: 0px;
    font-weight: 600;
}
.columnistas-portada h3{
    text-align: center;
    font-size:16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-top: 2px solid #222;
    border-bottom: 2px solid #222;
    padding: 5px 0px;
    color: #222;
}
.columnista{
    border-bottom: 1px dotted #494949;
    padding-bottom: 8px;
    text-align: center;
}
.columnista .foto{
    margin-top: 10px;
    min-width: 100%;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 50px;
}
.columnista p{
    font-size: 12px;
    font-weight: normal;
    margin:5px 0px 0px 0px;
    text-align: center;
}
.columnista h4{
    text-align: center;
    font-size: 14px;
    margin:0px 0px 0px 0px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Lora', Georgia, serif;
}
.tribuna-portada{
    margin-top: -10px;
}
.tribuna-portada h3{
    text-align: center;
    font-size:16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-top: 2px solid #222;
    border-bottom: 2px solid #222;
    padding: 5px 0px;
    color: #222;
}
.tribuna-item{
    border-bottom: 1px dotted #494949;
    margin-bottom: 10px;
}
.tribuna-item h2{
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: 'Lora', Georgia, serif;
    font-weight: 600;
    font-style:italic;
}
.tribuna-item h4{
    font-size: 12px;
    margin-top: 0px;
}
.resenas-portada h3{
    margin-top: 10px;
    text-align: center;
    font-size:16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-top: 2px solid #222;
    border-bottom: 2px solid #222;
    padding: 5px 0px;
    color: #222;
}
.resena-img{
    background-size: contain;
    background-position: center;
    min-height: 200px;
    background-repeat: no-repeat;
}
.resenas-portada h4{
    font-size: 14px;
    border-bottom: 1px dotted #494949;
    padding-bottom: 8px;
    font-family: Georgia, serif;
}
.resenas-portada h1{
    font-size: 18px;
    font-family: 'Lora', Georgia, serif;
    font-weight: 700;
    margin-top: -5px;
    margin-bottom: 5px;
}
.resenas-portada p{
    font-size: 12px;
    margin-top: 0px;
}
.columna1-2 .line-titulo-up{
    margin-bottom: 2px;
}
.columna1-2 .titulo-up{
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 3px;
    border-bottom: 1px dotted #494949;
    border-top:2px solid #222;
    padding-top: 5px;
    margin-top: 10px;
}
.ultimos h1{
    font-family: Georgia, serif;
    font-size: 20px;
    line-height: 25px;
    margin-top: 10px;
    color: #222;
}
.ultimos h4{
    margin-top:10px;
    font-family:Roboto, Arial,sans-serif;
    font-size: 14px;
    color: #454545;
}
.ultimos p{
    font-size: 16px;
    margin-top: -5px;
    margin-bottom: 0px;
    font-family: Georgia, serif;
}
.el-pais-deportes .tabla{
    text-align: center;
    margin-top: 10px;
    border: 1px solid #D8D8D8;
    padding:10px 5px -50px 5px;
}
.el-pais-deportes .tabla-deportes{
    text-align: center;
    margin-top: 8px;
}
.prensa-ciudadana{
    margin-top: 10px;
    background-color: #03B282;
    padding:10px 0px 9px 0px;
    color: #fff;
    border-top: 1px solid #03B282;
    text-align: center;
    font-weight: 400 !important;
    letter-spacing: 2px;
}
.line-dotted{
    margin-top: 20px;
    border-bottom: 1px dotted #c1c1c1;
}
.blocks{
    padding: 10px;
    margin-bottom: -30px;
}
.blocks .titulo{
    margin-top: 0px;
    border-top:2px solid #222;
    font-size: 20px;
    padding-top: 5px;
    margin-bottom: 5px;
    color: #000;
    vertical-align: middle;
}
.blocks .titulo img{
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    margin-right: 8px;
}
.blocks .foto{
    min-width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}
.blocks .foto:hover{
  opacity: 0.8;
}
.blocks h1{
    margin: 0px 0px -5px 0px;
    font-size: 20px;
    font-family: 'Lora-bold','Roboto Slab', serif;
    font-weight: 700;
    color: #222;
}
.blocks h4{
    font-size: 13px;
    font-weight: normal;
    margin-top: 11px;
    margin-bottom: 3px;
    font-family: Helvetica, Arial, serif;
}
.blocks h1:hover{
  color:#555;
}
.blocks p{
    font-size: 14px;
    font-family: Georgia, serif;
    bottom:0px;
}
.blocks-two .fotogaleria{
    padding-left: 10px;
}
.blocks-two .contratabu{
    padding-right: 10px;
}
.blocks-two .foto{
    height: 280px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.blocks-two h1{
    border-top:2px solid #222;
    font-family: 'Lora-bold','Roboto Slab', serif;
    font-weight: 700;
    font-size: 20px;
    padding-top: 8px;
    margin-bottom: 8px;
    color: #000;
}
.trans{
    background-image: linear-gradient(224deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.64) 100%);
    height: 280px;
    width: 100%;
}
.contratabu .trans{
    background-color: rgba(0,0,0,0.3);
    height: 280px;
    width: 100%;
}
.foto .texto{
    position: absolute;
    vertical-align: bottom;
    bottom: 0;
    padding-right: 10px;
}
.foto .texto h3{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 18px;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.40);
    margin-bottom: 5px;
    font-weight: 300;
    font-family:"helvetica neue",Helvetica,Arial,sans-serif;
}
.foto .texto p{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 18px;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.40);
    padding-bottom: 0px;
    margin-top: 0px;
    font-weight: 300;
    font-family:"helvetica neue",Helvetica,Arial,sans-serif;
}
.footer-menu{
    margin-top: 20px;
}
.footer-cp{
    background-color: #fdfdfd;
    padding-top: 20px;
    padding-bottom: 50px;
}
.direccion{
    padding-top: 20px;
    padding-left: 10px;
    font-size: 15px;
}
.direccion span{
    font-weight: 600;
}
.alianzas{
    float: right;
}
.alianzas ul{
    margin: 0 -60 0 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
.alianzas ul li{
    display: inline;
}
.alianzas h2{
    font-size: 16px;
    padding-right: 10px;
}
.alianzas img{
    width: 60px;
    height: 60px;
}
.sondeo{
    background: #EEF0F2;
    border-radius: 6px;
    padding-bottom: 5px;
}
.sondeo .header{
    background-image: url(../img/header-sondeo-2.png);
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 4px 4px 0px 0px;
    background-position: center;
}
.sondeo .header h1{
    font-family: 'Lora', serif;;
    text-align: center;
    color: #F9C21D;
    font-size: 22px;
    font-style: italic;
    padding-top: 22px;
}
.sondeo .body{
    text-align: center;
    font-size: 16px;
    font-family: Helvetica, Arial;
}
.sondeo .body h4{
    text-align: center;
    padding: 0px 10px 10px 10px;
    font-size: 17px;
    font-weight: 400;
}
.sondeo button{
    background: #0070D4;
    border-radius: 2px;
    padding: 7px 35px 6px 35px;
    border: 0px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 15px;
}
.sondeo i{
    font-style: normal;
}
.sondeo .body-estadisticas{
    padding: 10px 15px 0px 15px;
}
.line-votar{
    width:30%;
    height: 1px;
    background-color: #fff;
    border-radius: 100px;
}
.line-votar-2{
    width:15%;
    height: 1px;
    background-color: #fff;
    border-radius: 100px;
}
.total-votos{
    padding: 0px 10px;
}
.sondeo .estadistica{
    background-color: #329EFF;
    height: 4px;
    border-radius: 100px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.economia-negocios{
    background-color: #F5F5F5;
    border: 2px solid #0d9ddb;
    padding: 0px;
    margin-top: 10px;
}
.economia-negocios .header{
    background-image: url(../img/economia.png);
    padding:5px 0px 15px 0px;
    text-align: center;
    background-size: cover;
}
.economia-negocios .header h1{
    font-size: 34px;
    font-weight: 300;
    color: #fff;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.80);
}
.economia-negocios .body-header{
    background-color: #D8D8D8;
    text-align: center;
}
.economia-negocios .body-header h2{
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    letter-spacing: 1px;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.economia-negocios .foto-1{
    width: 100%;
    height:50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.economia-negocios h4{
    margin-top: 0px;
    font-size: 14px;
}
.economia-negocios h2{
    margin-top: -8px;
    font-size: 12px;
    color: #666;
}
.economia-col-1{
    margin-top:5px;
    margin-bottom:15px;
}
.economia-negocios .foto-2{
    width: 100%;
    height:70px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.leer-mas-economia{
    color: #111;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 0px;
}
.dos-economia{
    margin-top: 40px;
}
.leer-mas-economia:hover{
    text-decoration: none;
    color: #000;
}
.caricatura-imagen{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: -8px;
    margin-top: 10px;
    height: 400px;
}
.libertad-expresion h3{
    margin-top: 0px;
    text-align: center;
    font-size:16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-top: 2px solid #222;
    border-bottom: 2px solid #222;
    padding: 5px 0px;
    color: #222;
}
.libertad-item{
    border-bottom: 1px dotted #494949;
    margin-bottom: 10px;
}
.libertad-item h2{
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: 'Lora', Georgia, serif;
    font-weight: 600;
    font-style: italic;
}
.libertad-item h4{
    font-size: 12px;
    margin-top: 0px;
}
.libertad-item .foto{
    margin-top: 10px;
    min-width: 100%;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 50px;
    margin-bottom: 10px;
}
.academia-portada h3{
    margin-top: 10px;
    text-align: center;
    font-size:16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-top: 2px solid #222;
    border-bottom: 2px solid #222;
    padding: 5px 0px;
    color: #222;
}
.academia-img{
    background-size: cover;
    background-position: center;
    min-height: 200px;
    background-repeat: no-repeat;
}
.academia-portada h4{
    font-size: 14px;
    border-bottom: 1px dotted #494949;
    padding-bottom: 8px;
    font-family: Georgia, serif;
}
.academia-portada h1{
    font-size: 16px;
    font-family: 'Lora', Georgia, serif;
    font-weight: 700;
    margin-top: -5px;
    margin-bottom: 5px;
    font-style:italic;
}
.academia-portada p{
    font-size: 12px;
    margin-top: 0px;
}
.cultura{
    background-color: #242424;
    border-radius: 10px 10px 0px 0px;
    margin-top: 15px;
}
.cultura .articulo{
    border: 0px;
    padding-bottom: 5px;
}
.cultura .articulo h1 a{
    color: #fff;
    font-size: 26px;
    letter-spacing: 0.5px;
    font-weight: 200;
}
.cultura .titulo{
    color: #fff;
    font-size: 26px;
    text-align: center;
    background-image: url(../img/cultura-header1.png);
    height: 75px;
    padding-top: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px 3px 0px 0px;
    font-family:Lora;
    font-weight: 200;
    font-style: italic;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.40);
}

/*OPINION*/
.opinion-columnas-area h1{

}
.sondeos-area{
  margin-top: 10px;
}
.area-pregunta{
  padding: 20px;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.40);
}
.area-pregunta .pregunta h4{
  font-size: 16px;
  line-height: 24px;
  font-weight: 200;
  letter-spacing: 1px;
}
.area-pregunta li{
  list-style-type:none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 200;
}
.area-pregunta ul{
  padding: 0;
  margin: 25px 0px 0px 0px;
}
.area-pregunta li input{
  margin-right: 14px;
  margin-top: 12px;
}
.votos{
  text-align: center;
  margin-top: 10px;
}
.votos span{
  padding: 0px 10px;
  font-weight: 200;
  font-size: 16px;
}
.respuesta{
  position: relative;
  margin-top: 15px;
  font-size: 15px;
  border-radius: 3px;
  width: 100%;
  padding: 8px;
  background-color: transparent;
  color:#fff;
  font-weight: 200;
  z-index: 0;
}
.respuesta .text{
  z-index: 2;
  letter-spacing: 0.5px;
  position: relative;
}
.full{
  z-index: 0;
  border-radius: 2px;
  position: absolute;
  margin: -29px 0px 0px -8px;
  height: 37px;
}
.new-color-back{
  background-color: #0070D4;
}
.old-color-back{
  background-color: #C27F10;
}
.respuesta span{
  float: right;
}
.sondeo-background{
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #f1f1f1;
  width: 100%;
  border-radius:4px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.botonparavotar{
  text-align: center;
  margin-top: 40px;
}
.botonparavotar button{
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  color:#fff;
  padding: 10px 25px 8px 25px;
  border: 0px;
  border-radius: 3px;
}
.botonparavotar button:focus{
  outline: none;
}
.sondeo-imagen{
  margin: -15px -20px -20px -15px;
  position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
  background-position: center;
	background-size:cover;
	z-index:0;
	-webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
}
.sondeo-header{
  position: relative;
  z-index: 2;
  background-position: top;
  background-size: cover;
  height: 80px;
  border-radius: 4px 4px 0px 0px;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 5px;
}
.header-new{
    background-image: url(../img/sondeo/sondeoNew.png);
}

.header-old{
    background-image: url(../img/sondeo/sondeoOld.png);
}
.botonparavotar{
  position: relative;
}
.sondeo-header h1{
  font-family: 'Lora', serif;
  font-size: 18px;
  color: #fff;
  font-style: italic;
}
.editorial h1{
    width: 98%;
    margin: 0 auto 1px auto;
    font-family: Roboto;
    text-align: center;
    font-size: 25px;
}

.titulo-opinion h1, .titulo-preview-tribuna{
    font-family: 'Lora', serif;
    font-weight: 500;
    font-style: italic;
}

.titulo-opinion-editorial h1{
    margin-top: 8px;
    font-size: 30px;
    font-family: times;
    font-weight: 500;
    font-style: italic;
}

.titulo-opinion-columnistas h1{
    margin-top: 8px;
    font-size: 30px;
    font-family: century;
    font-weight: 500;
    font-style: italic;
}

.preview-editorial{
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid #D8D8D8;
    width: 98%;
    margin: 0 auto;
    font-family: Roboto;
}
.preview-editorial .titulo-preview-editorial{
    font-size: 20px;
    margin-bottom: 2px;
    margin-top: 8px;
    font-family: 'Lora', serif;;
    font-style: italic;
}
.preview-editorial .fecha-preview-editorial{
    margin-bottom: 2px;
    color: #868080;
    display: block;
    font-size: 12px;
    font-family: helvetica, arial;
}
.preview-editorial .p-preview-editorial{
    color: #333;
    margin-top: 0px;
    margin-bottom: 8px;
    font-family: Georgia, serif;
}
.preview-tribuna{
    text-align: left;
    font-size: 14px;
    font-family: Roboto;
    border-bottom: 1px solid #D8D8D8;
    width: 98%;
    margin: 0 auto;
}
.preview-tribuna .titulo-preview-tribuna{
    font-size: 20px;
    margin-bottom: 7px;
    margin-top: 2px;
}
.preview-tribuna .autor-preview-tribuna{
    color: #999;
    display: block;
    margin: 10px 0 0px 0;
    font-size: 12px;
    text-transform: uppercase;
}
.preview-tribuna .fecha-preview-tribuna{
    color: #848475;
    font-family: Helvetica, Arial;
    font-size: 12px;
    margin-top: -2px;
}
.preview-libertad .fecha-preview-libertad{
    font-family: Helvetica, Arial;
    font-size: 12px;
    margin-top: -2px;
}
.preview-libertad .nombre-autor{
    font-size: 12px;
    text-transform: uppercase;
}
.preview-libertad .titulo-libertad{
    margin: 3px 0px 5px 0px;
}
.newsletter-btn{
    background: #232323;
    color: #fff;
    height: 50px;
    margin-top: 15px;
    font-size: 20px;
    padding: 10px;
    font-family: Roboto;
    margin-bottom: 10px;
}
.titulo-opinion{
    margin-top: 10px;
}
.separador{
    background: url('../img/separador0.png') center center;
    background-size: contain;
    height: 10px;
    margin-top: 5px;
    background-repeat: no-repeat;
}
.caricatura-opinion{
    width: 100%;
    background-size: cover;
    height: 400px;
}
.img-autor{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 15px auto 0 auto;
}
.image-autor{
    text-align: center;
}
.libertad-info h1{
    text-align: left;
    font-family: 'Lora', serif;;
    color:#000;
    font-size: 18px;
    line-height: 23px;
}
.libertad-info{
    padding-top: 10px;
    color:#868080;
    font-family: Roboto;
    padding-left: 0;
    padding-top: 15px;
}
.columnistas{
    background: #fcfcfc;
    border:1px solid #f1f1f1;
}
.filtro-opinion{
    text-align: center;
    padding-top: 5px;
    margin-top: 15px;
    margin-bottom: -15px;
}
.filtro-opinion h3{
    font-family: Roboto;
    font-size: 14px;
    margin-top: 0;
    padding: 5px 0px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
.filtro-opinion .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default{
    background-color: #f1f1f1 !important;
}
.select .drop-title{
    font-size: 12px !important;
}
.filtro-opinion .dropdown-menu>li>a{
    color: #777;
}
.select{
    background: #000;
    color: #fff;
    font-family: Roboto;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    padding: 5px 6px;
    width: 100%;
    border: 0px;
    margin-bottom: 7px;
}
.select:hover{
    background: #232323;
    color: #fff;
    font-family: Roboto;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.select:focus{
    background-color: #000;
    color: #fff;
}
.drop-title{
    float: left;
    vertical-align: center;
}
.drop-arrow{
    float: right;
    margin-top: 8px;
    border-top: 6px dashed;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}
.option{
    background-color: #fff;
    margin-top: -7px;
    border-radius: 0 0 3px 3px;
    min-width: 100%;
    box-shadow: 0 0 0 0!important;
}
.option li{
    border-bottom: 1px dotted #d1d1d1;
    width: 93%;
    margin: 0 auto;
}
.option li a:hover{
    color: #000;
    background-color: #fff !important;
}
.option li a{
    padding-left: 0;
}
.tab-leido{
    padding:6px !important;
    font-family: Roboto;
    color:#000;
    background-color: #f1f1f1;
}
.tab-leido:hover{
    color: #000;
}
.leido{
    margin-top: 5px;
    padding-left: 0;
}
.leido-item{
    color: #707070;
    font-family: Roboto;
    line-height:1px;
}
.leido-item:hover{
    text-decoration: none;
    color:#000;

}
.leido-item span{
    color:#000;
    margin-right: 5px;
}
.leido li{
    border-bottom: 1px dotted #c1c1c1;
    list-style: none;
    padding: 0 0 4px 4px;
    margin-top: 3px;
    font-size: 13px;
}
.tb-leido{
    border-radius: 0 !important;
    color: #000;
}
/*POLITICA*/
.preview-sec-politica{
    border:none;
    margin-top: 18px;
}
.item-politica-main{
    font-family: Roboto !important;
}
.item-politica-main, .item-politica{
    margin-top: -12px;
    border-bottom: 1px dotted #c1c1c1;
}
.item-politica-main h1{
    font-size: 30px;
    margin-top: -30px;
}
.item-politica p{
    margin-bottom:4px;
}
.item-politica h3{
    margin-bottom:7px;
}
.item-politica .img-item-politica{
    background-position: center center;
    background-size: cover;
    height: 110px;
    margin-top: 10px;
}
.item-politica .img-item-politica:hover{
  opacity: 0.8;
}
.preview-texto-politica p{
    font-size: 14px;
}
.preview-texto-politica h3{
    text-transform: none;
    line-height: 20px;
    font-size: 18px;
    color:#000;
    margin-top: 0;
    font-family: 'Georgia', serif;
}
.preview-texto-politica{
    margin-top: 10px;
}
.item-politica{
    padding-bottom: 5px;
    width: 100%;
    margin: 0 auto;
    padding-top: 3px;
}
.info-autor-politica{
    font-family: 'Roboto', serif;
    color: #222 !important;
    font-size: 11px;
    margin-top: 10px;
}
.item-politica .info-autor-politica{
    font-family: 'Roboto', serif;
    color: #222 !important;
}
.foto-autor-main{
    margin-bottom: 0px;
}
.sec-politica{
    width: 100%;
}
.titulo-politica{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 5px;
}
.titulo-politica{
    width: 100%;
    margin: 0 auto;
    padding: 0 5px;
    text-align: center;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -o-flex;
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
}
.titulo-politica h2{
    font-size: 12px;
    margin: 10px 5px;
    text-align:center;
    color:#444;
    letter-spacing: 1px;
    width: auto;
    font-weight: 100;
}
.adorno-titulo-politica{
    border-bottom: 1px solid #bfc1c1;
    margin-top: 13px;
    height: 5px;
    flex-grow:1;
}
.col1bordes{
    border-right: 1px solid #ebebeb;
}
.col2bordes{
    border-right: 1px solid #ebebeb;
    padding: 0 2px;
}
.m-politica-1{
    padding-right: 0 ;
}
.m-politica-2{
    padding-left: 0 ;
    padding-right: 0 ;
}
.ad-politica{
    padding: 0 5px;
}
.alto{
     min-height: 100%;
    height: 100%;
}

/*MUNDO*/
.titulo-mundo{
    height: 50px;
    margin: 10px auto 30px auto;
    width: 99%;
    text-align: center;
    border-radius: 3px;
    background: url('../img/mundo-header.png') center center;
    background-size: cover;
    color:#fff;
    position: relative;
}
.titulo-mundo h2{
    font-size: 13px;
    letter-spacing: 1.5px;
    font-weight: 300;
    margin: 0;
    margin-top: 19px;
    text-shadow: 1px 1px 1px #000;
    font-family:"helvetica neue",Helvetica,Arial,sans-serif;
}
.img-titulo-mundo{
    position: absolute;
    top:10px;
    left:15px;
}
/*ECONOMIA*/
.datos-economicos{
    background-color: #f5f5f5;
    padding: 15px 8px;
    font-family: Roboto;
}
.tab{
    padding-left: 8px;
    padding-right: 8px;
}
.t-datos{
    text-align: center;
    width: 100%;
    line-height: 30px;
    border-radius: 5px;
}
.t-datos tr th{
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color:#888;
}
.t-datos tr td{
    border-right: 1px solid #dcdcdc;
}
.t-datos tr td{
    font-size: 12px;
}
.t-datos tr td a{
    color: #000;
    text-decoration: underline;
}
.t-datos tr td:last-child{
    border-right: none;
}
.titulo-datos-economicos{
    background-color: #e6e6e6;
    height: 50px;
    text-align: center;
    position: relative;
    margin-top: -20px;
}
/* .titulo-datos-economicos:after{
    content: "";
    position: absolute;
    top:50px;
    left:0;
    right: 0;
    width: 0;
    height: 10px;
    border-style: solid;
    border-color: #e6e6e6 transparent transparent transparent;
    border-width: 10px 50% 0 50%;
} */
.indicador-nombre{
    text-transform: uppercase;
}
.indicador-nombre p{
  margin:0px;
  font-size: 11px;
  font-weight: bolder;
  letter-spacing: 0.5px;
  color: #0C8FE2;
}
.titulo-datos-economicos h3{
    line-height: 50px;
    vertical-align: center;
    font-family: 'Roboto Slab', serif;
    font-size:  14px;
    font-weight: bold;
    text-transform: uppercase;
}
.t-indicadores{
    margin-top: 25px;
    font-family: Roboto;
    margin-bottom: 5px;
    border: 2px solid #0C8FE2;
}
.indicador-titulo{
    background-color: #2c2c2c;
    color: #fff;
    min-height: 40px;
    letter-spacing: 0.5px;
    padding:5px;
    font-weight: bolder;
    text-align: center;
}
.indicador-titulo span{
  font-size:10px;
  margin-top: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-weight: 200;
}
.indicador-titulo h3{
    font-size: 12px;
    margin: 10px 0 0 0;
}
.indicador-titulo .flecha{
    width: 10px;

}
.t-indicadores table{
    width: 100%;
}
.t-indicadores table tr{
    background-color: #e6e6e6;
    font-size: 12px;
    line-height: 20px;
    display: block;
    margin-top: 2px;
    padding: 5px;
    overflow:  hidden;
    position: relative;
}
.indicador{
    position: absolute;
    right:5px;
    top:4px;
    color: #45a0f5;
}

.positive{
    color:#2dae25 !important;
}
.negative{
    color:#fa4444 !important;
}
.divisas .indicador{
    color:#45a0f5;
}
.titulo-divisas{
    text-align: center;
}
/*CULTURA*/
.h1-cultura{
    margin-top: 0px !important;
}
.resena-title{
    margin-top: 0px !important;
    font-size: 26px !important;
}
.cultura-contratabu{
    position: relative;
}
.main-rompiendo-tabues .titulo-preview{
    font-size: 20px;
    font-family: Helvetica;
    color: #fff;
    font-weight: 300;
    vertical-align: bottom;
    position: absolute;
    bottom: 0;
    left: 0;
    text-shadow: 2px 2px 2px #444;
    margin:8px;
}
.sec-cultura{
    padding: 7px;
    margin-top: 8px;
}
.sec-cultura h2{
    padding-top: 5px;
    margin:0 0 5px 0;
    font-size: 22px;
    font-family: Lora;
    font-weight: 600;
    color: #000;
    border-top: 2px solid #000;
    width: 100%;
}
.preview-sec-cultura{
    padding: 0;
}
.preview-sec-cultura .item-politica-main{
    border: none;
}
.preview-sec-cultura .item-politica-main .foto-autor-main{
    border-bottom: 1px dotted #c2c2c2;
    color: #c2c2c2;
    margin-bottom: 5px;
}
.preview-sec-cultura .item-politica-main p{
    margin-bottom: 0;
}
.bordes-cultura{
    margin-top: 15px;
    padding-top: 0;
}
.scultura1{
    padding-top: 0;
}
.m1-cultura{
    padding: 0;
}
.articulo .img-articulo-cultura{
    margin-top: 0px;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-color:#f4f4f4;
}
.resena-cultura{
    padding: 0 7px;
}
.info-resena{
    border-bottom: 1px dotted #000;
    padding-bottom: 5px;
}
/*SUBSECCION*/
.center{
  margin: 0 auto;
  text-align: center;
}
.sec-subseccion{
    padding: 10px !important;
}
.preview-subseccion{
    margin: 25px 0 0 0;
    position: relative;
}
.img-subseccion{
    height: 160px;
    background-position: center center;
    background-size: cover;
}
.img-subseccion:hover{
  opacity: 0.8;
}
.preview-subseccion h1{
    margin-top: 10px;
    font-family: Georgia, serif;
    color: #000;
    cursor: pointer;
    font-size: 22px;
}
.preview-subseccion h1:hover{
    color: #555;
}
.titulo-subseccion:hover{
    text-decoration: none;
}
.info-subseccion{
    padding-bottom: 30px;
}
.info-subseccion .autor{
    padding: 4px 4px;
    background-color: #4285f4;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 9px;
}
.leer-subseccion{
    padding: 5px 8px;
    background-color: #4285f4;
    color: #fff;
    border-radius: 3px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-transform: lowercase;
    letter-spacing: 0.5px;
}
.leer-subseccion:hover{
    color:#fff;
    text-decoration: none;
}
.subseccion-autor{
  font-family: Helvetica, Arial, sans-serif;
  margin-bottom: 7px;
  font-size: 13px;
  color: #555 !important;
}
.subseccion-autor a{
  cursor: pointer;
  color: #222;
}
.subseccion-autor a:hover{
  text-decoration: underline;
}
.seccion-nombre h4{
    margin-top: -2px;
    margin-bottom: 10px;
}
.seccion-nombre a{
    color: #000;
}
.seccion-nombre a:hover{
    color: #000;
    text-decoration: none;
}
.tab-subseccion li a{
    margin-right: 10px;
    border: none;
    color:#000;
    border-radius: 2px;
}
.tab-subseccion .active a{
    background-color: #DBDBDB;
    color:#000;
}
.pagination li a:hover{
    background-color: #f1f1f1;
    color:#000;
    border: none;
}
.pagination .active a:hover{
    background-color: #f1f1f1;
    color:#000;
}
.subseccion-prev{
  font-family: Georgia,Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #333;
  margin-top: -5px;
  margin-bottom: 0px;
}
/*POST*/
.post-img{
    margin-top: 10px;
    height: auto;
    background-color: black;
    text-align: center;
}
.post-img img{
    margin: 0 auto;
    width: 100%;
}
.post-title{
    font-family: 'Lora', Helvetica, Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    color: #000;
    font-weight: bold;
}
.post-author{
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    text-align: center;
    color: #000;
    margin-top: 0px;
}
.post-author span{
    text-transform: uppercase;
}
/*entradilla*/
.blacky{
  font-family: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px !important;
  color: #000;
  margin-bottom: 20px;
  font-weight: bolder;
  line-height: 20px;
}
/*entradilla*/
.post-body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: justify;
    color: #353535;
    margin-top: 0px;
    line-height: 24px;
    font-weight: normal;
}
.post-body p{
  margin-bottom: 30px;
}
.post-divisor{
    text-align: center;
    border-bottom:1px dotted #222;
    width: 20%;
    margin: 20px 0px 20px 0px;
}
.post-foto-autor{
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
}
.lml-img{
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
}
.post-leido{
    font-family: 'Roboto Slab', serif;
}

.tab2-item{
margin: 10px 0 0px 0;
}
.img-tab2{
    width: 70px;
    height: 70px;
    background-size: cover;
    background-position: center center;
}

.info-tab2 h4{
    font-size: 14px !important;
    margin-top: 0;
    color:#000;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 3px;
}
.info-tab2 .fecha-tab2{
    font-size: 12px  !important;
    color:#555;
    font-style: italic;
    font-family: 'Georgia', serif;
}
.leido-tab2 li{
    border: none;
}
.social-posts{
    text-align: right;
}
.social-posts .tw{
    border: 2px solid #111;
    border-radius: 100%;
    padding: 0px 4px;
    color:#000;
    font-size: 18px;
}
.social-posts .tw:hover{
    background-color: #55acee;
    color: #fff;
    border: 2px solid #55acee;
}
.social-posts .fb{
    border: 2px solid #111;
    border-radius: 100%;
    padding: 0px 9px;
    color:#000;
    font-size: 18px;
}
.social-posts .fb:hover{
    background-color: #3b5998;
    color: #fff;
    border: 2px solid #3b5998;
}
.social-posts .g{
    border: 2px solid #111;
    border-radius: 100%;
    padding: 0px 5px;
    color:#000;
    font-size: 18px;
}
.social-posts .g:hover{
    background-color: #dc4e41;
    color: #fff;
    border: 2px solid #dc4e41;
}
.social-posts .mail{
    border: 2px solid #111;
    border-radius: 100%;
    padding: 0px 5px;
    color:#000;
    font-size: 18px;
}
.social-posts .mail:hover{
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
}
.post-comments{
    margin-top: 30px;
}
.search-inputs{
    background: #FFFFFF;
    box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.11);
    border:0px;
}
.search-inputs input{
    font-size:34px;
    font-family:georgia;
    padding:15px;
    font-style:italic;
    color:#000;
    height:90px;
    width:85%;
    background-color:transparent;
    border:0px;
}
.search-inputs button{
    background-color:#4285f4;
    padding:8px 15px;
    font-size:20px;
    float:right;
    margin-top:25px;
    margin-right:20px;
    border:0px;
    border-radius:100%;
    color:#fff;
}
.search-inputs button:hover{
    background-color:#376AC0 ;
}
.search-inputs button:focus{
    outline:none;
}
.search-inputs input:focus{
    outline:none;
}
.search-results .item{
    margin-top:20px;
    margin-bottom:40px;
}
.search-results .item .category{
    padding:4px 4px;
    background-color:#4285f4;
    color:#fff;
    text-transform:uppercase;
    letter-spacing:0.5px;
    font-size:9px;
}
.search-results .item h1{
    margin-top:10px;
    font-size:28px;
    font-family:georgia;
    color:#000;
}
.search-results .item h6{
    font-family:Helvetica, Arial, sans-serif;
    margin-bottom:7px;
    font-size:13px;
    color:#555;
}
.search-results .item h6 .autor{
    color: #000 !important;
}
.search-results .item p{
    font-family:Helvetica, Arial, sans-serif;
    margin-bottom:7px;
    font-size:14px;
    color:#333;
}
.search-caricatura{
    height:400px;
    width:100%;
    background-color:#f5f5f5;
    margin-top:10px;
    border-radius:3px;
    background-size:cover;
    background-position:center;}
.lml-search h2{
    font-family:'Roboto Slab';
    font-size:15px;
    letter-spacing:1px;
    color:#000;
    text-align:center;
    margin-top:0px;
    border-top:2px solid #000;
    border-bottom:2px solid #000;
    padding:5px 0px;
}
.fotogaleriah2{
    font-family:'Roboto Slab';
    font-size:15px;
    letter-spacing:1px;
    color:#000;
    text-align:center;
    margin-top:15px;
    border-top:2px solid #000;
    border-bottom:2px solid #000;
    padding:5px 0px;
}
.lml-search span{
    position:absolute;
    top:0;
    padding:4px 4px;
    background-color:#494e58;
    color:#fff;
    text-transform:uppercase;
    letter-spacing:0.5px;
    font-size:9px;
}
.lml-search .sub{
  margin: 0;
  padding: 0;
  font-size:9px;
  color: #fff;
}
.lml-search .item{
    margin-bottom:10px;
    overflow: hidden;
}
.info-it{
  padding-top: 10px;
}
.lml-search{
    margin-top:10px;
}
.lml-search .imagen{
    height:95px;
    width:100%;
    background-size:cover;
    background-position:center;
}
.lml-search h1{
    margin-bottom:5px;
    font-family:'Roboto Slab';
    font-size:16px;
}
.se-fb{
    margin-top:20px;
    width:100%;
    height:70px;
    background-color:#f5f5f5;
    text-align:center;
    padding-top:28%;
    font-size:24px;
    color:#888;
}
.se-fb:hover{
    background-color:#3b5998;
    color:#fff;
}
.se-tw{
    margin-top:20px;
    width:100%;
    height:70px;
    background-color:#f5f5f5;
    text-align:center;
    padding-top:28%;
    font-size:24px;
    color:#888;
}
.se-tw:hover{
    background-color:#55acee;
    color:#fff;
}
.se-gg{
    margin-top:20px;
    width:100%;
    height:70px;
    background-color:#f5f5f5;
    text-align:center;
    padding-top:28%;
    font-size:24px;
    color:#888;
}
.se-gg:hover{
    background-color:#dc4e41;
    color:#fff;
}
.bolsas-del-mundo{
    background-color:#F7F7F7;
    padding-bottom:10px;
    margin-top:15px;
    border-radius:4px;
    border:2px solid #0C8FE2;
}
.bolsas-del-mundo .head{
    padding:16px 10px 15px 10px;
    background-image: url(../img/bolsas-head.png);
    background-size: cover;
    background-position: center;
    font-size:14px;
    color:#fff;
    font-family:'Helvetica Neue', Arial, Sans-serif;
    font-weight:200;
    text-transform:uppercase;
    letter-spacing:1px;
    border-radius:2px 2px 0px 0px;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.40);
}
.bolsas-del-mundo .head span{
  font-size: 12px;
  text-transform: lowercase;
}
.datos-eco{
  margin-top: 20px !important;
  border:2px solid #909090 !important;
}
.del-mundo-a{
    float:right;
    color:#888;
    font-weight:400;
    margin-top:px;
    font-size:10px;
    text-transform:Capitalize;
    font-family:'Helvetica Neue', Arial, Sans-serif;
}
.del-mundo-b{
    float:right;
    color:#888;
    font-weight:400;
    margin-top:-5px;
    margin-bottom: 20px;
    font-size:10px;
    text-transform:Capitalize;
    font-family:'Helvetica Neue', Arial, Sans-serif;
}
.bolsas-del-mundo .item{
    margin-top:5px;
    text-align:center;
    padding:0px 2px;
    margin-bottom:10px
}
.bolsas-del-mundo .item h4{
    font-family:Helvetica, Arial, Sans-serif;
    font-size: 13px;
    color: #474747;
    margin-bottom:0px;
}
.bolsas-del-mundo .item h2{
    font-family:Helvetica, Arial, Sans-serif;
    font-size: 20px;
    font-weight:200;
    margin-top:10px;
}
.bolsas-del-mundo .item h3{
    font-family:Helvetica, Arial, Sans-serif;
    font-size: 12px;
    color: #999;
    margin-top:-3px;
}
.mercados-del-mundo{
    background-color:#F7F7F7;
    margin-top:15px;
    border-radius:4px;
    border:2px solid #0C8FE2;
}
.peque{
  padding: 2px 0px;
  font-family: 'Roboto Slab',Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 12px !important;
}
.minus-top{
  margin-top: -32px;
  font-size: 12px !important;
  color: #000 !important;
}
.padddd{
    padding: 0px 0px 0px 5px;
}
.mercados-del-mundo .head{
    padding:16px 10px 15px 10px;
    background-image: url(../img/mercadoshead.png);
    font-size:14px;
    color:#fff;
    font-family:'Helvetica Neue', Arial, Sans-serif;
    font-weight:200;
    text-transform:uppercase;
    letter-spacing:1px;
    border-radius:2px 2px 0px 0px;
}
.mercados-del-mundo .head a{
    float:right;
    color:#fff;
    margin-top:3px;
    font-size:12px;
    text-transform:Capitalize;
}
.mercados-del-mundo .item{
    text-align:left;
    padding:0px 8px;
}
.bor-eco{
  background-color: #D0DCE4;
}
.padd-exa{
  padding: 20px 0px;
}
.mercados-del-mundo .item h4{
    font-family:Helvetica, Arial, Sans-serif;
    font-size: 14px;
    color: #474747;
    margin-bottom:0px;
    text-transform: uppercase;
    text-align: center;
}
.mercados-del-mundo .titulo{
    font-size: 12px;
    color: #fff;
    margin-bottom:0px;
    text-transform: lowercase;
    text-align: center;
}
.mercados-del-mundo span{
    font-size: 9px;
    color: #fff;
    margin-bottom:0px;
    text-transform: lowercase;
    text-align: center;
    font-weight:bolder;
}
.mercados-del-mundo .item .numb{
    font-family:Helvetica, Arial, Sans-serif;
    font-size: 14px;
    color: #5F5F5F;
    margin-bottom:0px;
    text-transform: uppercase;
    text-align: center;
}
.mercados-del-mundo .item .negative{
    color:#fa4444;
}
.mercados-del-mundo .item h6{
    font-family:Helvetica, Arial, Sans-serif;
    font-size: 10px;
    color: #868686;
    margin-bottom:0px;
    margin-top: 5px;
    text-transform: lowercase;
    text-align: center;
}
.mercados-del-mundo .item h2{
    font-family:Helvetica, Arial, Sans-serif;
    font-size: 20px;
    font-weight:200;
    margin-top:10px;
}
.mercados-del-mundo .item h3{
    font-family:Helvetica, Arial, Sans-serif;
    font-size: 12px;
    color: #999;
    margin-top:-3px;
}
.foto-imagen{
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  max-width: 140px;
}
.foto-imagen-autor{
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  max-width: 80px;
}
/*searching*/
.input-search-main{
  border-radius: 3px;
  border: 1px solid #000;
  width: 200px;
  margin-left:10px;
}
.negrita{
  background-color: #c9c9c9 !important;
  font-family: 'Roboto Slab',Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #000;
}

.cc-banner{
  min-height: 495px;
  width: 100%;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}
.autor-area{
  margin-top:20px;
}
.autor-photo{
  background-color: #f1f1f1;
  width: 80%;
  height: 76px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
}
.autor-info{
  margin-left: -15px !important;
}
.autor-info h1{
  margin-top:0px;
  font-size: 22px;
  margin-bottom: 8px;
  text-transform: uppercase;
  color:#000;
  font-family: 'Roboto Slab',Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.autor-info p{
  font-family: 'Roboto',Helvetica, Arial, sans-serif;
}
.autor-info .fb{
  background-color:#3b5998;
  color:#fff;
  padding: 2px 8px;
  border-radius: 2px;
}
.autor-info .tw{
  background-color:#55acee;
  color:#fff;
  padding: 2px 4px;
  border-radius: 2px;
}
.autor-info .gg{
  background-color:#dc4e41;
  color:#fff;
  padding: 2px 5px;
  border-radius: 2px;
}
.autor-info .ln{
  background-color:#00a0dc;
  color:#fff;
  padding: 2px 6px;
  border-radius: 2px;
}
.autor-info .em{
  background-color:#333;
  color:#fff;
  padding: 2px 5px;
  border-radius: 2px;
}
.autor-info .divisor{
  margin-top: 20px;
  border-bottom:1px dotted #a1a1a1;
  width: 200px;
}
.autor-fotogaleria{
  border-radius: 2px;
  height: 200px;
  background-color: #f1f1f1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.autor-fotogaleria .trans{
  border-radius: 2px;
  background-image: linear-gradient(224deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.70) 100%);
  height: 200px;
  width: 100%;
}
.autor-fotogaleria .trans .text{
  position: absolute;
  vertical-align: bottom;
  bottom: 0;
  padding-right:10px;
  padding-left: 10px;
}
.autor-fotogaleria .trans .text h3{
  font-size: 18px;
  color: #FFFFFF;
  line-height: 18px;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.40);
  font-weight: 200;
  font-family:"helvetica neue",Helvetica,Arial,sans-serif;
  line-height: 22px;
}
/*CARICATURAS*/
@keyframes move {
    25%{
        background-position: right;
    }
    50%{
        background-position: bottom;
    }
    100%{
        background-position: top;
    }
}
#move{
    animation: move 20s infinite;
}
.main-draw{
  margin-top: 10px;
  height:280px;
  background-color: #f1f1f1;
  border-radius:4px;
  background-position: top;
  background-size: 900;
}
.main-draw .trans{
  border-radius:4px;
  background-image: linear-gradient(218deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.65) 100%);
  border-radius: 3px;
  position: relative;
}
.main-draw .texto{
  position: absolute;
  bottom:0;
  padding: 0px 10px 10px 10px;
}
.main-draw .trans .texto h1{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0px 0px 5px 0px;
  color:#fff;
  font-size:22px;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.40);
  font-weight: 200;
}
.main-draw .trans .texto h3{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0px;
  color:#fff;
  font-size:14px;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.40);
  font-weight: 200;
}
.draws{
  opacity: 0.5;
  margin-top: 10px;
  margin-bottom: 8px;
  height:280px;
  background-color: #f1f1f1;
  border-radius:4px;
  background-position: center;
  background-size: cover;
  transition:0.5s;
}
.draws:hover{
  opacity: 1;
}
.draws .trans:hover{
  opacity: 1;
  cursor: pointer;
  transition: 0.1s;
}
.draws .trans{
  transition: 0.5s;
  border-radius:4px;
  background-image: linear-gradient(218deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.65) 100%);
  border-radius: 3px;
  position: relative;
  opacity: 0;
}
.draws .texto{
  position: absolute;
  bottom:0;
  padding: 0px 10px 10px 10px;
}
.draws .trans .texto h1{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0px 0px 5px 0px;
  color:#fff;
  font-size:18px;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.40);
  font-weight: 200;
}
.draws .trans .texto h3{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0px;
  color:#fff;
  font-size:12px;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.40);
  font-weight: 200;
}
/*CARICATURAS*/
/*banner*/
.carousel-control, .carousel-indicators{
  display: none;
}
@media (max-width: 400px){
    .logo-center img{
        max-width: 300px;
    }
    .columnista .foto{
        display: none;
    }
    .el-clima{
        display: none;
    }
    .el-pais-deportes{
        display: none;
    }
    .red-flag{
        display: none;
    }
    .cptv-menu{
        background-color: #f1f1f1;
        margin-left: 0px;
        text-align: center;
    }
    .suscribete{
        display: none;
    }
    .sociales{
      float: right;
    }
    .menu-social h4{
        margin-bottom: -28px;
    }
    .search, .input-search-nav{
        display: none;
    }
    .mainAds{
        display: none;
    }
    .mainAds-mobile{
        display: block;
    }
    .ads{
        display: none;
    }
    .blocks-two .fotogaleria{
        padding-right: 10px;
    }
    .blocks-two .contratabu{
        padding-left: 10px;
    }
    .alianzas{
        display: none;
    }
    .direccion{
        text-align: center;
    }
    .caricatura-opinion{
        height: 300px;
        width: 100%;
    }
    .img-autor{
        margin-right: 5px;
    }
}
@media (max-width: 990px){
    .cptv-menu{
        background-color: #f1f1f1;
        margin-left: 0px;
        text-align: center;
    }
    .menu-social h4{
        margin-bottom: -28px;
    }
    .red-flag{
        display: none;
    }
    .alianzas{
        display: none;
    }
    .tab-subseccion{
        text-align: center;
    }
    .info-it{
      padding-top: 20px;
    }
    .lml-search span{
      top: 10px;
    }
}
