<!-- Ads Top | Portada -->
<div class="container">
  <div class="mainAds">
          <div class="row">
              <div class="col-md-7">
              <div id="ads1" class="ads-border">
                <uib-carousel interval="intervalo1">
                  <uib-slide ng-repeat="banner in banner1">
                    <a ng-href="{{banner.link}}" ng-click="vistoBanner(banner.id)" target="_blank"><img class="img-responsive" ng-src="{{banner.foto}}"></a>
                  </uib-slide>
                </uib-carousel>
              </div>
              </div>
              <div class="col-md-5">
                <div id="ads2" class="ads-border">
                  <uib-carousel interval="intervalo2">
                    <uib-slide ng-repeat="banner in banner2">
                      <a ng-href="{{banner.link}}" ng-click="vistoBanner(banner.id)" target="_blank"><img class="img-responsive" ng-src="{{banner.foto}}"></a>
                    </uib-slide>
                  </uib-carousel>
                </div>
              </div>
          </div>
  </div>
  <div class="mainAds-mobile">
    <div class="row">
        <div class="col-md-12">
            <div id="adsMobile" class="ads-border">
              <uib-carousel interval="intervaloMovil">
                <uib-slide ng-repeat="banner in bannerMovil">
                  <a ng-href="{{banner.link}}" ng-click="vistoBanner(banner.id)" target="_blank"><img class="img-responsive" ng-src="{{banner.foto}}"></a>
                </uib-slide>
              </uib-carousel>
            </div>
        </div>
    </div>
  </div>
</div>
<!-- Ads Top | Portada -->
<!-- Header -->
<div class="container">
    <!-- Date/Search Section -->
    <div data-ng-include data-src="'templates/socialsearch.html?i=1'"></div>
    <!-- Date/Search Section -->
    <!-- Menu -->
    <div data-ng-include data-src="'templates/menu.html'"></div>
    <!-- Menu -->
    <!-- Logo Section -->
    <div class="row">
        <div class="logo-center">
            <a href="#/"><img src="http://www.contrapunto.com.sv/templates/contrapunto2014/images/contrapunto-el-salvador.png" style="max-width:250px;"></a></br>
            <a class="opinion-logo-title" alt="cambiar a 60px" href="">
                Cultura
            </a>
            <h4>{{fecha}}</h4>
        </div>
    </div>
    <!-- Logo Section -->
    <div class="top-line"></div>
    <!-- Menu Section -->
    <!-- Menu Responsive -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#/">Portada</a></li>
            <li><a href="#/opinion">Opinión</a></li>
            <li><a href="#">Nacionales</a></li>
            <li><a href="#">Mundo</a></li>
            <li><a href="#/sociedad">Sociedad</a></li>
            <li><a href="#">Economía</a></li>
            <li><a href="#">Cultura</a></li>
            <li><a href="#">Deportes</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Menu Responsive -->
    <!-- Menu -->
    <div class="row">
        <div class="col-md-12">
            <div class="menu">
                <a ng-repeat="subseccion in subsecciones" ng-href="#/cultura/{{subseccion.url}}">{{subseccion.nombre}}</a>
            </div>
        </div>
    </div>
    <!-- Menu -->
    <!-- Menu Section -->
</div>
<!-- Header -->
<!-- Body -->
<div class="container">
    <div class="row">
        <div class="row">
            <div id="main" class="col-md-12">
                <!-- Columna 1 -->
                    <div class="col-md-5 m1-cultura">
                        <!--Seccion CONTRATABU-->
                        <div class="sec-politica sec-cultura">
                            <h2>Contratabú</h2>
                            <div class="cultura-contratabu">
                            <a ng-href="#/cultura/contratabu/{{contratabues[0].titulo | urlEncode}}/{{contratabues[0].id}}"><div style="background:url({{contratabues[0].foto}}) center center;background-size: cover;" class="main-rompiendo-tabues">
                            <div class="trans t-politica">
                                <h3 class="titulo-preview">{{contratabues[0].titulo}}</h3>
                            </div>
                            </div>
                            </a>
                        </div>
                        </div>
                        <!--Seccion CONTRATABU-->
                        <!--Seccion ARTES-->
                        <div class="sec-politica sec-cultura">
                            <!-- Titulo artes -->
                            <h2>Artes</h2>
                            <!-- Titulo artes -->
                            <!-- Preview seccion artes -->
                            <div class="articulo preview-sec-politica preview-sec-cultura">
                                <div class="item-politica-main">
                                    <a ng-href="#/cultura/artes/{{artes[0].titulo | urlEncode}}/{{artes[0].id}}"><div style="background-image: url({{artes[0].foto}});" class="img-articulo"></div></a>
                                    <p class="foto-autor-main">Foto: {{artes[0].fotografo}}</p>
                                    <h1 class="h1-cultura"><a ng-href="#/cultura/artes/{{artes[0].titulo | urlEncode}}/{{artes[0].id}}">{{artes[0].titulo}}</a></h1>
                                    <h4 class="info-autor-politica"><a ng-href="#/autor/{{artes[0].idPersonal}}">{{artes[0].autor | uppercase}}</a> | {{artes[0].fecha}}</h4>
                                    <p>{{artes[0].preview}}</p>
                                </div>
                            </div>
                            <!-- Preview seccion artes -->
                        </div>
                        <!--Seccion ARTES-->
                         <!--Seccion ANECDOTA-->
                        <div class="sec-politica sec-cultura">
                            <!-- Titulo anecdota -->
                            <h2>La anécdota</h2>
                            <!-- Titulo anecdota -->
                            <!-- Preview seccion anecdota -->
                            <div class="articulo preview-sec-politica preview-sec-cultura">
                                <div class="item-politica-main">
                                    <a ng-href="#/cultura/anecdota/{{anecdotas[0].titulo | urlEncode}}/{{anecdotas[0].id}}"><div style="background-image: url({{anecdotas[0].foto}});" class="img-articulo"></div></a>
                                    <p class="foto-autor-main">Foto: {{anecdotas[0].fotografo}}</p>
                                    <h1 class="h1-cultura"><a ng-href="#/cultura/anecdota/{{anecdotas[0].titulo | urlEncode}}/{{anecdotas[0].id}}">{{anecdotas[0].titulo}}</a></h1>
                                    <h4 class="info-autor-politica"><a ng-href="#/autor/{{anecdotas[0].idPersonal}}">{{anecdotas[0].autor | uppercase}}</a> | {{anecdotas[0].fecha}}</h4>
                                    <p>{{anecdotas[0].preview}}</p>
                                </div>
                            </div>
                            <!-- Preview seccion anecdota -->
                        </div>
                        <!--Seccion ANECDOTA-->
                    </div>

                <!-- Columna 1 -->
                <!-- Columna 2 -->
                    <div class="col-md-5">
                            <div class="col2bordes bordes-cultura">
                                 <!--Seccion RESEÑA-->
                                <div class="sec-politica sec-cultura scultura1">
                                    <!-- Titulo reseña -->
                                    <h2>Reseña</h2>
                                    <!-- Titulo reseña -->
                                    <!-- Preview seccion reseña -->
                                    <div class="articulo preview-sec-politica preview-sec-cultura">
                                        <div class="row item-politica-main resena-cultura">
                                            <a ng-href="#/cultura/resena/{{resenas[0].titulo | urlEncode}}/{{resenas[0].id}}"><div style="background-image: url({{resenas[0].foto}});" class="col-xs-5 img-articulo-cultura"></div></a>
                                            <div class="col-xs-7">
                                                <h1 class="resena-title"><a ng-href="#/cultura/resena/{{resenas[0].titulo | urlEncode}}/{{resenas[0].id}}">{{resenas[0].titulo}}</a></h1>
                                                <h4 class="info-autor-politica"><a ng-href="#/autor/{{resenas[0].idPersonal}}">{{resenas[0].autor | uppercase}}</a> </br> {{resenas[0].fecha}}</h4>
                                                <p class="info-resena">{{resenas[0].preview}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Preview seccion reseña -->
                                </div>
                                <!--Seccion RESEÑA-->
                                <!-- Publicidad -->
                                <div class="ads ad-politica">
                                    <span></span>
                                    <div id="ads4" class="ads-border">
                                      <uib-carousel interval="intervalo4">
                                        <uib-slide ng-repeat="banner in banner4">
                                          <a ng-href="{{banner.link}}" ng-click="vistoBanner(banner.id)" target="_blank"><img class="img-responsive" ng-src="{{banner.foto}}"></a>
                                        </uib-slide>
                                      </uib-carousel>
                                    </div>
                                </div>
                                <!-- Publicidad -->
                         <!--Seccion LITERATURA-->
                        <div class="sec-politica sec-cultura">
                            <!-- Titulo literatura -->
                            <h2>Literatura</h2>
                            <!-- Titulo literatura -->
                            <!-- Preview seccion literatura -->
                            <div class="articulo preview-sec-politica preview-sec-cultura">
                                <div class="item-politica-main">
                                    <a ng-href="#/cultura/literatura/{{literaturas[0].titulo | urlEncode}}/{{literaturas[0].id}}"><div style="background-image: url({{literaturas[0].foto}});" class="img-articulo"></div></a>
                                    <p class="foto-autor-main">Foto: {{literaturas[0].fotografo}}</p>
                                    <h1 class="h1-cultura"><a ng-href="#/cultura/literatura/{{literaturas[0].titulo | urlEncode}}/{{literaturas[0].id}}">{{literaturas[0].titulo}}</a></h1>
                                    <h4 class="info-autor-politica"><a ng-href="#/autor/{{literaturas[0].idPersonal}}">{{literaturas[0].autor | uppercase}}</a> | {{literaturas[0].fecha}}</h4>
                                    <p>{{literaturas[0].preview}}</p>
                                </div>
                            </div>
                            <!-- Preview seccion literatura -->
                        </div>
                        <!--Seccion LITERATURA-->
                        </div>
                    </div>
                <!-- Columna 2 -->
                <!-- Columna 3 - 1 -->

                    <div class="col-md-2">
                         <!-- Publicidad -->
                         <div class="ads">
                             <span></span>
                             <div id="ads3" class="ads-border">
                               <uib-carousel interval="intervalo3">
                                 <uib-slide ng-repeat="banner in banner3">
                                   <a ng-href="{{banner.link}}" ng-click="vistoBanner(banner.id)" target="_blank"><img class="img-responsive" ng-src="{{banner.foto}}"></a>
                                 </uib-slide>
                               </uib-carousel>
                             </div>
                         </div>
                        <!-- Publicidad -->
                        <!--Lo mas leido-->
                        <div class="columnistas-portada">
                            <h3>LO MÁS LEÍDO</h3>
                            <!--Lo mas leido-TABS-->
                            <div role="tabpanel">
                              <!-- Nav tabs -->
                              <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active tb-leido"><a aria-controls="home" class="tab-leido" role="tab" data-toggle="tab" ng-href="value = #lmlportada">Portada</a></li>
                                <li role="presentation" class="tb-leido"><a aria-controls="profile" role="tab" class="tab-leido" data-toggle="tab" ng-href="value = #lmlpolitica">Política</a></li>
                              </ul>

                              <!-- Tab panes -->
                              <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="lmlportada">
                                    <ul class="leido">
                                        <li><a href="#" class="leido-item">Un centenar de mexicanos a las urnas</a></li>
                                        <li><a href="#" class="leido-item">Ataques en París, oriente ataca</a></li>
                                        <li><a href="#" class="leido-item">Un centenar de mexicanos a las urnas</a></li>
                                        <li><a href="#" class="leido-item">Ataques en París, oriente ataca</a></li>
                                    </ul>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="lmlpolitica">
                                    <ul class="leido">
                                        <li><a href="#" class="leido-item">La pupusa salvadoreña</a></li>
                                        <li><a href="#" class="leido-item">Se estrena Star Wars</a></li>
                                        <li><a href="#" class="leido-item">La ética social</a></li>
                                        <li><a href="#" class="leido-item">La actualización humana</a></li>
                                    </ul>
                                </div>
                              </div>
                            <!--Lo mas leido-TABS-->
                            </div>
                        </div>
                        <!--Lo mas leido-->
                        <a target="_blank" href="http://contracultura.com.sv/"><div style="background-image:url(http://www.contrapunto.com.sv/images/banners/banner7CC.jpg);" class="cc-banner"></div></a>
                    </div>
            </div>
        </div>
        <div data-ng-include data-src="'templates/footer.html'"></div>
        </div>
    </div>
</div>
