<!-- Ads Top | Portada -->
<div class="container">
  <div class="mainAds">
          <div class="row">
              <div class="col-md-7">
              <div id="ads1" class="ads-border">
                <uib-carousel interval="intervalo1">
                  <uib-slide ng-repeat="banner in banner1">
                    <a ng-href="{{banner.link}}" ng-click="vistoBanner(banner.id)" target="_blank"><img class="img-responsive" ng-src="{{banner.foto}}"></a>
                  </uib-slide>
                </uib-carousel>
              </div>
              </div>
              <div class="col-md-5">
                <div id="ads2" class="ads-border">
                  <uib-carousel interval="intervalo2">
                    <uib-slide ng-repeat="banner in banner2">
                      <a ng-href="{{banner.link}}" ng-click="vistoBanner(banner.id)" target="_blank"><img class="img-responsive" ng-src="{{banner.foto}}"></a>
                    </uib-slide>
                  </uib-carousel>
                </div>
              </div>
          </div>
  </div>
  <div class="mainAds-mobile">
    <div class="row">
        <div class="col-md-12">
            <div id="adsMobile" class="ads-border">
              <uib-carousel interval="intervaloMovil">
                <uib-slide ng-repeat="banner in bannerMovil">
                  <a ng-href="{{banner.link}}" ng-click="vistoBanner(banner.id)" target="_blank"><img class="img-responsive" ng-src="{{banner.foto}}"></a>
                </uib-slide>
              </uib-carousel>
            </div>
        </div>
    </div>
  </div>
</div>
<!-- Ads Top | Portada -->
<!-- Header -->
<div class="container">
    <!-- Date/Search Section -->
    <div data-ng-include data-src="'templates/socialsearch.html?i=1'"></div>
    <!-- Date/Search Section -->
    <!-- Menu -->
    <div data-ng-include data-src="'templates/menu.html'"></div>
    <!-- Menu -->
    <!-- Logo Section -->
    <div class="row">
        <div class="logo-center seccion-nombre">
            <a href="#/"><img src="http://www.contrapunto.com.sv/templates/contrapunto2014/images/contrapunto-el-salvador.png" style="max-width:250px;"></a></br>
            <a ng-href="#/{{secinfo.url}}"><h3>{{secinfo.nombre}}</h3></a>
            <a class="opinion-logo-title sub" ng-href="#/{{secinfo.url}}/{{subinfo.url}}">
                Sondeo
            </a>
            <h4>{{fecha}}</h4>
        </div>
    </div>
    <!-- Logo Section -->
    <div class="top-line"></div>
    <!-- Menu Section -->
    <!-- Menu Responsive -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#/">Portada</a></li>
            <li><a href="#/opinion">Opinión</a></li>
            <li><a href="#">Nacionales</a></li>
            <li><a href="#">Mundo</a></li>
            <li><a href="#/sociedad">Sociedad</a></li>
            <li><a href="#">Economía</a></li>
            <li><a href="#">Cultura</a></li>
            <li><a href="#">Deportes</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Menu Responsive -->
    <!-- Menu -->
    <div class="row">
        <div class="col-md-12">
            <div class="menu">
                <a ng-repeat="subseccion in subsecciones" ng-href="#/opinion/{{subseccion.url}}">{{subseccion.nombre}}</a>
            </div>
        </div>
    </div>
    <!-- Menu -->
    <!-- Menu Section -->
</div>
<!-- Header -->
<!-- Body -->
<div class="container">
    <div class="row">
      <div class="col-md-10">
            <div class="sondeo-background">
              <div class="sondeo-imagen" style="background-image:url(http://www.contrapuntotv.net/cptvesa/wp-content/uploads/2016/02/JOV8638-copy.jpg);">
              </div>
              <div class="sondeo-header header-new">
                <h1>Caso Jesuitas | 27 de enero del 2016</h1>
              </div>
              <div class="area-pregunta">
                <div class="row">
                  <div class="col-md-6">
                    <div class="pregunta">
                      <h4>¿Está usted de acuerdo con que se lleven a españa a los militares involucrados en el caso Jesuita?</h4>
                      <ul>
                        <li><input type="radio" name="r">Si, estoy de acuerdo</li>
                        <li><input type="radio" name="r">No, estoy de acuerdo</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="votos">
                      <img class="line-votar-2">
                      <span>110 votos en total</span>
                      <img class="line-votar-2">
                    </div>
                    <div class="respuesta">
                        <div class="text">Si, estoy de acuerdo <span>65% | 65 votos</span></div>
                        <div style="width:65%;" class="full  new-color-back"></div>
                    </div>
                    <div class="respuesta">
                        <div class="text">No, estoy de acuerdo <span>45% | 45 votos</span></div>
                        <div style="width:45%;" class="full  new-color-back"></div>
                    </div>
                  </div>
                </div>
                  <div class="botonparavotar"><button class="new-color-back">Votar</button></div>
              </div>
            </div>
            <div class="sondeo-background">
              <div class="sondeo-imagen" style="background-image:url(http://www.contrapuntotv.net/cptvesa/wp-content/uploads/2016/01/JOV6782-copy.jpg);">
              </div>
              <div class="sondeo-header header-old">
                <h1>Salarios de policias | 27 de enero del 2016</h1>
              </div>
              <div class="area-pregunta">
                <div class="row">
                  <div class="col-md-6">
                    <div class="pregunta">
                      <h4>¿Está usted de acuerdo con que le aumenten el salario a los agentes de la PNC?</h4>
                      <ul>
                        <li><input type="radio" name="r">Si, estoy de acuerdo</li>
                        <li><input type="radio" name="r">No, estoy de acuerdo</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="votos">
                      <img class="line-votar-2">
                      <span>110 votos en total</span>
                      <img class="line-votar-2">
                    </div>
                    <div class="respuesta">
                        <div class="text">Si, estoy de acuerdo <span>65% | 65 votos</span></div>
                        <div style="width:65%;" class="full old-color-back"></div>
                    </div>
                    <div class="respuesta">
                        <div class="text">No, estoy de acuerdo <span>45% | 45 votos</span></div>
                        <div style="width:45%;" class="full old-color-back"></div>
                    </div>
                  </div>
                </div>
                  <div class="botonparavotar"><button class="old-color-back">Votar</button></div>
              </div>
            </div>
            <div class="sondeo-background">
              <div class="sondeo-imagen" style="background-image:url(https://tribktla.files.wordpress.com/2015/06/trump-presidential-announcement-2015.jpg);">
              </div>
              <div class="sondeo-header header-old">
                <h1>TRUMP presidente | 12 de abril del 2015</h1>
              </div>
              <div class="area-pregunta">
                <div class="row">
                  <div class="col-md-6">
                    <div class="pregunta">
                      <h4>¿Usted cree que Donald Trump puede ganar las elecciones presidenciales de USA 2016?</h4>
                      <ul>
                        <li><input type="radio" name="r">Si, es posible</li>
                        <li><input type="radio" name="r">No, no lo considero posible</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="votos">
                      <img class="line-votar-2">
                      <span>110 votos en total</span>
                      <img class="line-votar-2">
                    </div>
                    <div class="respuesta">
                        <div class="text">Si, es posible <span>10% | 10 votos</span></div>
                        <div style="width:10%;" class="full old-color-back"></div>
                    </div>
                    <div class="respuesta">
                        <div class="text">No, no lo considero posible <span>90% | 90 votos</span></div>
                        <div style="width:90%;" class="full old-color-back"></div>
                    </div>
                  </div>
                </div>
                  <div class="botonparavotar"><button class="old-color-back">Votar</button></div>
              </div>
            </div>

          <div class="center"><uib-pagination ng-click="top()" total-items="contenidos.length" ng-model="currentPage" items-per-page="pageSize" previous-text="Anterior" next-text="Siguiente" max-size="maxSize" boundary-link-numbers="true" class="tab-subseccion"></uib-pagination></div>
      </div>
      <div class="col-md-2 m-politica-3">
           <!-- Publicidad -->
          <div class="ads">
            <span></span>
            <div id="ads3" class="ads-border">
              <uib-carousel interval="intervalo3">
                <uib-slide ng-repeat="banner in banner3">
                  <a ng-href="{{banner.link}}" ng-click="vistoBanner(banner.id)" target="_blank"><img class="img-responsive" ng-src="{{banner.foto}}"></a>
                </uib-slide>
              </uib-carousel>
            </div>
          </div>
          <!-- Publicidad -->
          <!--Lo mas leido-->
          <div class="columnistas-portada">
              <h3>LO MÁS LEÍDO</h3>
              <!--Lo mas leido-TABS-->
              <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active tb-leido"><a aria-controls="home" class="tab-leido" role="tab" data-toggle="tab" ng-href="value = #lmlportada">Portada</a></li>
                  <li role="presentation" class="tb-leido"><a aria-controls="profile" role="tab" class="tab-leido" data-toggle="tab" ng-href="value = #lmlpolitica">Política</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="lmlportada">
                      <ul class="leido">
                          <li><a href="#" class="leido-item">Un centenar de mexicanos a las urnas</a></li>
                          <li><a href="#" class="leido-item">Ataques en París, oriente ataca</a></li>
                          <li><a href="#" class="leido-item">Un centenar de mexicanos a las urnas</a></li>
                          <li><a href="#" class="leido-item">Ataques en París, oriente ataca</a></li>
                      </ul>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="lmlpolitica">
                      <ul class="leido">
                          <li><a href="#" class="leido-item">La pupusa salvadoreña</a></li>
                          <li><a href="#" class="leido-item">Se estrena Star Wars</a></li>
                          <li><a href="#" class="leido-item">La ética social</a></li>
                          <li><a href="#" class="leido-item">La actualización humana</a></li>
                      </ul>
                  </div>
                </div>
              <!--Lo mas leido-TABS-->
              </div>
          </div>
          <!--Lo mas leido-->
      </div>
    </div>
    <div data-ng-include data-src="'templates/footer.html'"></div>
</div>
