<!-- Ads Top | Portada -->
<div class="container">
  <div class="mainAds">
          <div class="row">
              <div class="col-md-7">
              <div id="ads1" class="ads-border">
                <uib-carousel interval="intervalo1">
                  <uib-slide ng-repeat="banner in banner1">
                    <a ng-href="{{banner.link}}" ng-click="vistoBanner(banner.id)" target="_blank"><img class="img-responsive" ng-src="{{banner.foto}}"></a>
                  </uib-slide>
                </uib-carousel>
              </div>
              </div>
              <div class="col-md-5">
                <div id="ads2" class="ads-border">
                  <uib-carousel interval="intervalo2">
                    <uib-slide ng-repeat="banner in banner2">
                      <a ng-href="{{banner.link}}" ng-click="vistoBanner(banner.id)" target="_blank"><img class="img-responsive" ng-src="{{banner.foto}}"></a>
                    </uib-slide>
                  </uib-carousel>
                </div>
              </div>
          </div>
  </div>
  <div class="mainAds-mobile">
    <div class="row">
        <div class="col-md-12">
            <div id="adsMobile" class="ads-border">
              <uib-carousel interval="intervaloMovil">
                <uib-slide ng-repeat="banner in bannerMovil">
                  <a ng-href="{{banner.link}}" ng-click="vistoBanner(banner.id)" target="_blank"><img class="img-responsive" ng-src="{{banner.foto}}"></a>
                </uib-slide>
              </uib-carousel>
            </div>
        </div>
    </div>
  </div>
</div>
<!-- Ads Top | Portada -->
<!-- Header -->
<div class="container">
    <!-- Date/Search Section -->
    <div data-ng-include data-src="'templates/socialsearch.html?i=1'"></div>
    <!-- Date/Search Section -->
    <!-- Menu -->
    <div data-ng-include data-src="'templates/menu.html'"></div>
    <!-- Menu -->
    <!-- Logo Section -->
    <div class="row">
        <div class="logo-center seccion-nombre">
            <a href="#/"><img src="http://www.contrapunto.com.sv/templates/contrapunto2014/images/contrapunto-el-salvador.png" style="max-width:250px;"></a></br>
            <a ng-href="#/{{secinfo.url}}"><h3>{{secinfo.nombre}}</h3></a>
            <a class="opinion-logo-title sub" ng-href="#/{{secinfo.url}}/{{subinfo.url}}">
                {{subinfo.nombre}}
            </a>
            <h4>{{fecha}}</h4>
        </div>
    </div>
    <!-- Logo Section -->
    <div class="top-line"></div>
    <!-- Menu Section -->
    <!-- Menu Responsive -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#/">Portada</a></li>
            <li><a href="#/opinion">Opinión</a></li>
            <li><a href="#">Nacionales</a></li>
            <li><a href="#">Mundo</a></li>
            <li><a href="#/sociedad">Sociedad</a></li>
            <li><a href="#">Economía</a></li>
            <li><a href="#">Cultura</a></li>
            <li><a href="#">Deportes</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Menu Responsive -->
    <!-- Menu -->
    <div class="row">
        <div class="col-md-12">
            <div class="menu">
                <a ng-repeat="subseccion in subsecciones" ng-href="#/{{secinfo.url}}/{{subseccion.url}}">{{subseccion.nombre}}</a>
            </div>
        </div>
    </div>
    <!-- Menu -->
    <!-- Menu Section -->
</div>
<!-- Header -->
<!-- Body -->
<div class="container">
    <div class="row">
      <div class="col-md-10">
          <div ng-repeat="contenido in contenidos | startFrom:(currentPage - 1)*pageSize | limitTo:pageSize">
            <div class="preview-subseccion">
              <div class="row">
                <div class="col-md-4">
                  <a ng-href="#/{{secinfo.url}}/{{subinfo.url}}/{{contenido.titulo | urlEncode}}/{{contenido.id}}">
                    <div style="background-image: url({{contenido.foto}});" class="img-subseccion"></div>
                  </a>
                </div>
                <div class="col-md-8">
                   <div class="info-subseccion">
                      <a class="autor" ng-href="#/autor/{{contenido.idPersonal}}">{{contenido.autor}}</a>
                      <h4 class="info-autor-politica subseccion-autor">
                      {{contenido.fecha}}</h4>
                      <a class="titulo-subseccion" ng-href="#/{{secinfo.url}}/{{subinfo.url}}/{{contenido.titulo | urlEncode}}/{{contenido.id}}"><h1>{{contenido.titulo}}</h1></a>
                      <p ng-if="contenido.preview != 'null'" class="subseccion-prev">{{contenido.preview | limitTo: 150}}... </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="center"><uib-pagination ng-click="top()" total-items="contenidos.length" ng-model="currentPage" items-per-page="pageSize" previous-text="Anterior" next-text="Siguiente" max-size="maxSize" boundary-link-numbers="true" class="tab-subseccion"></uib-pagination></div>
      </div>
      <div class="col-md-2 m-politica-3">
           <!-- Publicidad -->
           <div class="ads">
               <span></span>
               <div id="ads3" class="ads-border">
                 <uib-carousel interval="intervalo3">
                   <uib-slide ng-repeat="banner in banner3">
                     <a ng-href="{{banner.link}}" ng-click="vistoBanner(banner.id)" target="_blank"><img class="img-responsive" ng-src="{{banner.foto}}"></a>
                   </uib-slide>
                 </uib-carousel>
               </div>
           </div>
          <!-- Publicidad -->
          <!--Lo mas leido-->
          <div class="columnistas-portada">
              <h3>LO MÁS LEÍDO</h3>
              <!--Lo mas leido-TABS-->
              <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active tb-leido"><a aria-controls="home" class="tab-leido" role="tab" data-toggle="tab" ng-href="value = #lmlportada">Portada</a></li>
                  <li role="presentation" class="tb-leido"><a aria-controls="profile" role="tab" class="tab-leido" data-toggle="tab" ng-href="value = #lmlpolitica">{{secinfo.nombre}}</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="lmlportada">
                      <ul class="leido">
                          <li ng-repeat="port in leidos.portada | orderBy:'-total'"><a ng-href="#/{{port.urlSeccion}}/{{port.urlSubseccion}}/{{port.titulo | urlEncode}}/{{port.id}}" class="leido-item">{{port.titulo}}</a></li>
                      </ul>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="lmlpolitica">
                      <ul class="leido">
                          <li ng-repeat="sec in leidos.seccion"><a ng-href="#/{{sec.urlSeccion}}/{{sec.urlSubseccion}}/{{sec.titulo | urlEncode}}/{{sec.id}}" class="leido-item">{{sec.titulo}}</a></li>
                          <li ng-repeat="sec2 in leidos.seccion2"><a ng-href="#/{{sec2.urlSeccion}}/{{sec2.urlSubseccion}}/{{sec2.titulo | urlEncode}}/{{sec2.id}}" class="leido-item">{{sec2.titulo}}</a></li>
                      </ul>
                  </div>
                </div>
              <!--Lo mas leido-TABS-->
              </div>
          </div>
          <!--Lo mas leido-->
      </div>
    </div>
    <div data-ng-include data-src="'templates/footer.html'"></div>
</div>
