<!-- Menu -->
    <div class="row">
        <div class="col-md-10">
            <div class="menu">
                <a href="#!/">Portada</a>
                <a href="#!/opinion">Opinión</a>
                <a href="#!/politica">Política</a>
                <a href="#!/internacionales">Internacionales</a>
                <a href="#!/sociedad">Sociedad</a>
                <a href="#!/economia">Economía</a>
                <a href="#!/cultura">Cultura</a>
                <a href="#!/deportes">Deportes</a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="cptv-menu">
              <div class="padd"><i class="ion-camera"></i></div>
                <a target="_blank" href="http://www.contrapuntotv.net">ContrapuntoTV</a>
            </div>
        </div>
    </div>
<!-- Menu -->
