<div class="menu-social">
    <div class="row">
        <div class="col-sm-4">
            <a href="" class="btn-qs">Quiénes somos</a>    
        </div>
        <div class="col-sm-4 col-sm-offset-4">
            <div class="sociales">
                <a class="social-btn facebook"><span class="ion-social-facebook"></span></a>
                <a class="social-btn twitter"><span class="ion-social-twitter"></span></a>
                <a class="social-btn googleplus"><span class="ion-social-googleplus"></span></a>
            </div>
            <div class="right">
                <a class="suscribete">
                    Suscríbete
                </a>
                <button class="search"><i class="ion-android-search"></i></button>
            </div>
        </div>
    </div>    
</div>