<div class="menu-social">
    <div class="row">
        <div class="col-sm-4">
            <a href="" class="btn-qs">Quiénes somos</a>
        </div>
        <div class="col-sm-4 col-sm-offset-4">
            <div class="sociales">
                <a href="https://www.facebook.com/DiarioDigitalContraPunto/?ref=ts" class="social-btn facebook"><span class="ion-social-facebook"></span></a>
                <a href="https://twitter.com/contra_punto" class="social-btn twitter"><span class="ion-social-twitter"></span></a>
                <a href="https://plus.google.com/u/0/103830590298417641066/posts" class="social-btn googleplus"><span class="ion-social-googleplus"></span></a>
                <a href="https://www.linkedin.com/in/contrapuntosv?authType=&authToken=&trk=mp-allpost-aut-name" class="social-btn twitter"><span class="ion-social-linkedin"></span></a>
            </div>
            <div class="right">
                <a class="suscribete">
                    Suscríbete
                </a>
                  <a href="#/buscar" class="search"><i class="ion-android-search"></i></a>
            </div>
        </div>
    </div>
</div>
